<div class="dashboard">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>FinanceFlow</h2>

        <ul>

            <li class="active">
                Dashboard
            </li>

            <li>Income</li>

            <li>Expenses</li>

            <li>Budget</li>

            <li>Savings Goals</li>

            <li>Subscriptions</li>

            <li>Reports</li>

            <li>Profile</li>

            <li>Logout</li>

        </ul>

    </div>

    <!-- Main -->

    <div class="main">

        <div class="navbar">

            <h1>Dashboard</h1>

            <div class="profile">

                Welcome,
                <b>Muskan</b>

            </div>

        </div>

        <!-- Cards -->

        <div class="cards">

            <div class="card balance">

                <h3>Total Balance</h3>

                <h2>₹45,250</h2>

            </div>

            <div class="card income">

                <h3>Total Income</h3>

                <h2>₹75,000</h2>

            </div>

            <div class="card expense">

                <h3>Total Expenses</h3>

                <h2>₹29,750</h2>

            </div>

            <div class="card savings">

                <h3>Total Savings</h3>

                <h2>₹18,500</h2>

            </div>

        </div>

        <!-- Charts -->

        <div class="chart-box">

            <h2>Monthly Expense Overview</h2>

            <div class="chart-placeholder">

                Chart will be added here

            </div>

        </div>

        <!-- Recent Transactions -->

        <div class="transactions">

            <h2>Recent Transactions</h2>

            <table>

                <tr>

                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>

                </tr>

                <tr>

                    <td>08 Jul</td>
                    <td>Groceries</td>
                    <td>₹1,250</td>

                </tr>

                <tr>

                    <td>07 Jul</td>
                    <td>Netflix</td>
                    <td>₹649</td>

                </tr>

                <tr>

                    <td>05 Jul</td>
                    <td>Salary</td>
                    <td>₹35,000</td>

                </tr>

            </table>

        </div>

    </div>

</div>