<header class="navbar">

    <!-- Left -->

    <div class="navbar-left">

        <h2 class="page-title">
            Dashboard
        </h2>

    </div>

    <!-- Right -->

    <div class="navbar-right">

        <!-- Notification -->

        <button class="icon-btn">

            <mat-icon>notifications_none</mat-icon>

            <span class="notification-dot"></span>

        </button>

        <!-- Profile -->

        <div class="profile">

            <div class="avatar">
                M
            </div>

            <div class="user-info">

                <h4>Muskan</h4>

                <span>Premium User</span>

            </div>

            <mat-icon class="arrow">
                expand_more
            </mat-icon>

        </div>

    </div>

</header>