<div class="sidebar-content">

  <!-- Logo -->
  <div class="logo-section">

    <div class="logo-icon">
      <mat-icon>account_balance_wallet</mat-icon>
    </div>

    <div class="logo-text">
      <h2>FinanceFlow</h2>
      <p>Personal Finance Hub</p>
    </div>

  </div>

  <!-- Navigation -->
  <nav class="menu">

    <a
      routerLink="/app/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>

    </a>

    <a
      routerLink="/app/income"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>paid</mat-icon>
      <span>Income</span>

    </a>

    <a
      routerLink="/app/expenses"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>payments</mat-icon>
      <span>Expenses</span>

    </a>

    <a
      routerLink="/app/budget"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>account_balance</mat-icon>
      <span>Budget</span>

    </a>

    <a
      routerLink="/app/saving-goals"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>savings</mat-icon>
      <span>Saving Goals</span>

    </a>

    <a
      routerLink="/app/subscriptions"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>subscriptions</mat-icon>
      <span>Subscriptions</span>

    </a>

    <a
      routerLink="/app/reports"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>bar_chart</mat-icon>
      <span>Reports</span>

    </a>

    <a
      routerLink="/app/settings"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>settings</mat-icon>
      <span>Settings</span>

    </a>

  </nav>

  <!-- Bottom -->
  <div class="bottom-section">

    <div class="profile">

      <div class="avatar">
        {{ userInitial }}
      </div>

      <div>
        <h4>{{ userName }}</h4>
        <p>Premium User</p>
      </div>

    </div>

    <button
      class="logout-btn"
      (click)="logout()">

      <mat-icon>logout</mat-icon>
      <span>Logout</span>

    </button>

  </div>

</div>