<div class="sidebar-content">
  <!-- Logo -->
  <div class="logo-section">

    <div class="logo-icon">
<mat-icon>account_balance_wallet</mat-icon>    </div>

    <div class="logo-text">
      <h2>FinanceFlow</h2>
      <p>Personal Finance Hub</p>
    </div>

  </div>

  <!-- Navigation -->

  <nav class="menu">

    <a routerLink="/app/dashboard"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">

<mat-icon>dashboard</mat-icon>   
   <span>Dashboard</span>

    </a>

    <a routerLink="/app/income"
       routerLinkActive="active">

<mat-icon>trending_up</mat-icon>
      <span>Income</span>

    </a>

    <a routerLink="/app/expenses"
       routerLinkActive="active">

<mat-icon>trending_down</mat-icon>
      <span>Expenses</span>

    </a>

    <a routerLink="/app/budget"
       routerLinkActive="active">

<mat-icon>account_balance_wallet</mat-icon>      <span>Budget</span>

    </a>

    <a routerLink="/app/goals"
       routerLinkActive="active">

<mat-icon>savings</mat-icon>    <span>Savings Goals</span>

    </a>

    <a routerLink="/app/subscriptions"
       routerLinkActive="active">

<mat-icon>credit_card</mat-icon>
      <span>Subscriptions</span>

    </a>

    <a routerLink="/app/reports"
       routerLinkActive="active">

<mat-icon>analytics</mat-icon>
      <span>Reports</span>

    </a>

    <a routerLink="/app/settings"
       routerLinkActive="active">

<mat-icon>settings</mat-icon>
      <span>Settings</span>

    </a>

  </nav>

  <!-- Bottom -->

  <div class="bottom-section">

    <div class="profile">

      <div class="avatar">
        M
      </div>

      <div>

        <h4>Muskan</h4>
        <p>Premium User</p>

      </div>

    </div>

    <button class="logout-btn">

<mat-icon>logout</mat-icon>

      Logout

    </button>

  </div>

</div>